<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'details' %}">My_books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home2">book_info</a>
                </li>
                -->
                <!--
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href= "detail2" >Books_detail</a>
                </li>
                -->

                <li>
                    <a class="nav-link active" aria-current="page" href={% url 'add-data' %}>Add Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'details2' %}>Your books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'book-list' %}>Delete_books</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'book_text' %}>Download_file</a>
                </li>
                {% else %}
                <a href="{% url "login" %}"></a>
                {% endif %}
                <!--
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'book_csv' %}>book_csv</a>
                </li>
                -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'logout' %}>Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'login' %}>Login</a>
                </li>
                {% endif %}


            </ul>

            <form method=POST action="{% url 'search-book' %}" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Book" name="searched"
                       aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
